<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <%- if !post.description.nil? && !post.description.empty? -%>
    <meta name="description" content="<%= post.description %>">
    <%- end -%>
    <meta property="og:title" content="<%= post.title %>">
    <%- if !post.description.nil? && !post.description.empty? -%>
    <meta property="og:description" content="<%= post.description %>">
    <%- end -%>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blog.naoty.dev/<%= post.id %>/">
    <%- if !post.og_image_url.nil? -%>
    <meta property="og:image" content="<%= post.og_image_url %>">
    <%- end -%>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@naoty_k">
    <meta name="theme-color" content="#fff">
    <link href="/feed.xml" rel="alternate" type="application/atom+xml">
    <link href="/normalize.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <link href="/highlight.css" rel="stylesheet">
    <link href="/favicon.png" rel="shortcut icon" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon-192.png">
  </head>
  <body>
    <main>
      <article>
        <header>
          <h1 class="title mt-0"><%= post.title %></h1>
          <p class="metadata">
            <time datetime="<%= post.time.strftime('%Y-%m-%dT%H:%M:%S.%3N%z') %>"><%= post.time.strftime('%Y-%m-%d %H:%M') %></time>
          <%- post.tags.each do |tag| -%>
            <a href="/<%= tag %>/">#<%= tag %></a>
          <%- end -%>
          </p>
        </header>
        <section class="body">
          <%= post.body %>
        </section>
        <footer>
          <nav>
            <ul class="footer-links mb-0">
              <li class="footer-link"><a href="https://naoty.dev">Home</a></li>
              <li class="footer-link"><a href="/">Posts</a></li>
            </ul>
          </nav>
        </footer>
      </article>
    </main>
  </body>
</html>
